<!DOCTYPE>
<HTML>
<HEAD>
<TITLE>遇到错误了</TITLE>
<META http-equiv=Content-Type content="text/html; charset=GBK">
<STYLE type=text/css>
.font14 {
	FONT-SIZE: 14px
}

.font12 {
	FONT-SIZE: 12px
}
</STYLE>

</HEAD>
<BODY>
	<TABLE height=500 cellSpacing=0 cellPadding=0 width=500 align=center
		background=/static/404.gif border=0>
		<TBODY>
			<TR>
				<TD height=330>&nbsp;</TD>
			</TR>
			<TR>
				<td valign="top">
					<div class="font14" align="center">
						<strong>您访问的页面<font color="#0099ff">不存在</font>或被<font
							color="#ff0000">删除！<br></font></strong>
					</div>
				</td>
			</TR>
		</TBODY>
	</TABLE>
</BODY>
</HTML>
